<mat-card>
   
    <mat-card-content>
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">

            <p>
                <mat-form-field>
                    <input type="number" (keydown)="calculateTotal()" (change)="calculateTotal()"  matInput placeholder="Trouser" formControlName="Trouser">
                

                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input type="number" (keydown)="calculateTotal()" (change)="calculateTotal()" matInput placeholder="Shoes" formControlName="Shoes">
                   
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="number" (keydown)="calculateTotal()" (change)="calculateTotal()" matInput placeholder="Shirt" formControlName="Shirt">
                   
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="number" (keydown)="calculateTotal()" (change)="calculateTotal()" matInput placeholder="Ties" formControlName="Ties">
                   
                </mat-form-field>
            </p>
            <div class="radio-button-group">
               
                <mat-radio-group formControlName="Discount">
                    <p>  <mat-radio-button [value]=10>Flat 10% on All</mat-radio-button> </p>
                    <p>  <mat-radio-button [value]=15>15% on next item</mat-radio-button></p>
                        <p>     <mat-radio-button [value]=3>Buy 3 get 1</mat-radio-button></p>
                </mat-radio-group>
                <br>
            </div>
                <br>

                <br>
                <br>


                <h1 class="leftalign">Pay:{{totalAmount}}</h1>
                <h2 class="leftalign">Order Total:{{grandTotal}}</h2>

            <div class="button">
                <button type="submit" name="Save" mat-raised-button color="primary" class="text-uppercase"  mat-button>Add To Cart</button>
            </div>
          
        </form>
    </mat-card-content>
</mat-card>